{
  "extends": [
    "@eslint-kit/patch",
    "@eslint-kit/base",
    "@eslint-kit/typescript",
    "@eslint-kit/node",
    "@eslint-kit/prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "@typescript-eslint/no-non-null-assertion": "off",
    "no-restricted-imports": [
      "error",
      {
        "patterns": [
          {
            "group": ["src/*"],
            "message": "Please use @react-above/modal-theme-default or relative import instead"
          }
        ]
      }
    ],
    "import/order": [
      "warn",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ],
        "pathGroups": [
          {
            "pattern": "@react-above/modal-theme-default",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "@react-above/modal-theme-default/**",
            "group": "internal",
            "position": "before"
          }
        ]
      }
    ]
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  }
}
