.above-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 300;
  overflow: auto;

  &,
  & * {
    box-sizing: border-box;
  }
}

.above-overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 301;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.above-container {
  margin: auto;
  min-width: 0;
  z-index: 301;
}

.above-surface {
  width: 100vw;
  max-width: 32rem;
  background: white;

  &[data-fullscreen='true'],
  &[data-fullscreen='strict'] {
    min-width: 100vw;
    min-height: 100vh;
  }

  &[data-fullscreen='strict'] {
    width: 100vw;
    height: 100vh;
  }
}

.above-header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 36px;
  padding: 24px;
  padding-bottom: 0;
}

.above-title {
  margin: 0;
  margin-right: 48px;
}

.above-close {
  display: block;
  border: none;
  outline: none;
  background: none;
  padding: 8px;
  margin: -8px;
  margin-left: auto;
  font-size: 0;
  cursor: pointer;

  & svg {
    color: #7e7e7e;
    transition: color 0.2s ease;
  }

  &:hover svg {
    color: #000000;
  }
}

.above-body {
  padding: 24px;
  padding-top: 0;

  &:first-child {
    padding-top: 32px;
  }
}

.above-buttons {
  width: 100%;
  display: flex;

  & * + * {
    margin-left: 16px;
  }
}